@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Azeret Mono", monospace;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.first-section{
    width: 1440px;
    height: 652px;
    margin: 0 auto;
    margin-top: 131px;
    background-image: url(/B10A1-Challenge-Begins/assets/Hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.first-division{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
#image-1 {
    margin-top: 26px;
}
#text-1{
margin-top: 32px;
font-size: 48px;
font-weight: 800;
text-align: center;
color: rgb(13, 19, 33);
}
#text-2{
    margin-top: 24px;
    text-align: center;
    color: rgba(13, 19, 33, 0.7);
}
#button-1{
    margin-top: 32px;
    width: 208px;
    height: 66px;
    padding: 21px 24px 21px 24px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: rgb(255, 255, 255);
    background: rgb(13, 19, 33);
    margin-bottom: 44px;
}
.first-main-section{
    background-color: red;
    border-radius: 16px;
    width: 1140px;
    height: 1395px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    margin-top: 74px;
}
#text-3{
    color: rgb(13, 19, 33);
    font-weight: 800;
    font-size: 32px;
    margin-top: 80px;
    margin-left: 292px;
    margin-right: 296px;
}
#text-4{
    color: rgba(13, 19, 33, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 24px;
    margin-left: 292px;
    margin-right: 296px;
}
.second-division{
    width: 850px;
height: 240px;
margin-top: 48px;
display: flex;
justify-content: space-between;
align-items: center;
background-color: brown;
margin-right: 297px;
margin-left: 293px;
}
.third-division{
    margin-right: 98.83px;
    text-align: left;
}
#text-5{
font-weight: 700;
font-size: 24px;
color: rgba(13, 19, 33, 0.7);
margin-bottom: 16px;
}
#text-6{
color: rgba(13, 19, 33, 0.7);
font-size: 16px;
font-weight: 400;
margin-top: 16px;
}
#second-button{
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.7);
    padding: 12px 20px 12px 20px;
    width: 171px;
    height: 47px;
    margin-top: 32px;
    color: rgb(13, 19, 33);
    font-weight: 600;
    font-size: 20px;
}
.fourth-division{
    width: 850px;
    height: 240px;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: brown;
    margin-right: 297px;
margin-left: 293px;
}
.fifth-division{
    margin-left: 98.83px;
    text-align: left;
}
#text-7{
color: rgba(13, 19, 33, 0.7);
font-size: 24px;
font-weight: 700;
margin-bottom: 16px;
}
#text-8{
color: rgba(13, 19, 33, 0.7);
font-weight: 400;
font-size: 16px;
}